.pessoas-online{
    padding-top: 8%;
    padding-left: 5%;
    width: 80%;
    border-right: 15%;
}
.chat{
    padding-top: 8%;
    padding-left: 10%;
}
nb-chat {
    width: 500px;
    margin: 0 auto;
  }
  .button-custom-message-text {
    margin-top: 0;
  }  