<nb-layout>
    <nb-layout-column>
        <nb-card size="medium">
            <nb-card-header>
                Usuários Online
            </nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let user of usuarioModel.usuarios">
                    <nb-user [name]="user.username" [title]="user.userId" (click)="abrirChat(user.userId)">
                    </nb-user>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </nb-layout-column>

    <nb-layout-column>
        <div *ngIf="abrirMessenger">
            <nb-chat title="Chat"  [scrollBottom]="true" size="large">
                <nb-chat-message *ngFor="let msg of messages"
                [message]="msg.text"
                [reply]="msg.reply"
                [sender]="msg.user.name"
                [date]="msg.date"
                [customMessageData]="msg.customMessageData">
              </nb-chat-message>
                <nb-chat-form (send)="enviarMensagem($event)">
                </nb-chat-form>
            </nb-chat>
        </div>
    </nb-layout-column>

</nb-layout>